<div class="flex flex-col gap-3">
  <form 
    class="flex gap-2 flex-col sm:flex-row"
    [formGroup]="createForm"
    (ngSubmit)="onSubmit($event)"
  >
    <input
      class="input input-bordered"
      type="text"
      placeholder="Type the Todo title here"
      required
      formControlName="title"
    >
    <button 
      type="submit" 
      class="btn"
      [disabled]="!createForm.valid"
    >
      Add new Todo
    </button>
  </form>
  <ul>
  @for (todo of todos; track todo.id) {
    <app-todo-item [todo]="todo" />
  }
</ul>
</div>
